In [10]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pickle

In [11]:
dataset = pd.read_csv(r'C:\Users\Brij\Desktop\Python for data science\Salary_dataset.csv')

In [12]:
dataset.head(10)

   index experience  test_score  interview_score  salary
0      0        NaN         8.0                9   50000
1      1        NaN         8.0                6   45000
2      2       five         6.0                7   60000
3      3        two        10.0               10   65000
4      4     seven          9.0                6   70000
5      5      three         7.0               10   62000
6      6        ten         NaN                7   72000
7      7     eleven         7.0                8   80000

In [13]:
dataset['experience'].fillna(0, inplace=True)

In [14]:
dataset['test_score'].fillna(dataset['test_score'].mean(), inplace=True)

In [15]:
X = dataset.iloc[:, :3]

In [18]:
#Converting words to integer values
def convert_to_int(word):
    word_dict = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5, 'six':6, 'seven ':7, 'eight':8,
                'nine':9, 'ten':10, 'eleven':11, 'twelve':12, 'zero':0, 0: 0}
    return word_dict[word]

In [19]:
X['experience'] = X['experience'].apply(lambda x : convert_to_int(x))

In [20]:
y = dataset.iloc[:, -1]

In [21]:
#Splitting Training and Test Set
#Since we have a very small dataset, we will train our model with all availabe data.

from sklearn.linear_model import LinearRegression
regressor = LinearRegression()

In [22]:
#Fitting model with trainig data
regressor.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [23]:
# Saving model to disk
pickle.dump(regressor, open('model.pkl','wb'))

In [24]:

# Loading model to compare the results
model = pickle.load(open('model.pkl','rb'))
print(model.predict([[2, 9, 6]]))

[63623.43790075]